// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


:root {
  --issue-color: transparent;
}


a {
  text-decoration: none;
  color: inherit;
}

i.bi{
  font-size: 1.5rem;
}

.delete_button,
.edit_button,
.show_button {
  text-align: center;
  line-height: 0;
  padding: 8px;
  border: none;
  max-width: max-content;
}

.add_instance_button {
  border-width: 2px;

}

.container:has(issue_card) {
  max-width: 800px;
}

.issue_detail_img {
  object-fit: cover;
  width: 100%;
}

.issue_publish_unpublish_btn {
  line-height: 0;
  text-transform: uppercase;
  padding: 8px;
  border-width: 2px;
  max-width: max-content;
}